.bookItem {
    padding: 5px;
    display: flex;
    align-items: start;
    background-color: rgb(113, 177, 177);
    border-radius: 10px;
    gap: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    position: relative;
}

.bookItem img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bookInfo {
    padding-top: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bookInfo p {
    padding: 0;
    margin: 0;
}

.bookItem:hover {
    background-color: rgb(133, 191, 191);
}

.deleteButton {
    position: absolute;
    top: 90%;
    right: 3px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
}